<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Testtask</title>
    <meta charset="UTF-8"/>
</head>

<body>

<br>
<br>

<p th:text="${user_name}"></p>
<form method="post" action="push">

    <input type="hidden" name="user_id" th:value="${user_id}"> <br><br>

    Number <input type="text" name="number"> <br>

    <input type="submit" value="Push">
</form>

<a th:href="@{/pop(user_id=${user_id})}">pop</a> <br>
<a th:href="@{/reset(user_id=${user_id})}">reset</a>
<p th:if="${numbers.size() == 0}">Your stack is empty</p>
<p th:if="${stack_empty == 'true'}">You've tried to pop number from empty stack</p>
<table>
    <th:block th:each="number : ${numbers}">
        <tr>
            <td th:text="${number}">...</td>

        </tr>
    </th:block>
</table>

<a th:href="@{/logout}">logout</a>


</body>
</html>